<div class="body flex-col">
  <div class="top-bar flex-row">
    <img class="profile-photo" src="../../../../assets/logo.png" alt="">
    <div class="flex-col top-1">
      <span class="name">{{ conversation.conversationUser.firstName }} {{conversation.conversationUser.lastName}}</span>
      <div class="flex-row status-holder">
        <div class="status-icon"></div>
        <span class="status">Online</span>
      </div>
    </div>
    <div class="icons-holder">
      <img src="../../../../assets/info.png" class="icon">
    </div>
  </div>
  <div class="chat"></div>
  <div class="send-message-holder"></div>
</div>